@font-face {
    font-family: 'Sparkling Horizon';
    src: url('Fonts/sparkling_horizon/Sparkling Horizon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Declaración para la segunda fuente */
@font-face {
    font-family: 'SimpleNote';
    src: url('Fonts/simple_note/Mocosans-SimpleNote.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cursiva';
    src: url('Fonts/BeautyDemo.otf')format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Estilo general para el body */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('fondo-piscina-1659793303.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}


/* Sección blanca para cubrir solo la parte superior */
.white-background {
    width: 70%;

    background-color: white;
    z-index: 0;
    border: 15px solid #1a58cf;
    border-radius: 60px;
    box-shadow: 0 0 30px 10px rgb(57, 90, 219);
}

.white-background1 {
    width: 70%;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    border: 15px solid #1a58cf;
    border-radius: 60px;
    box-shadow: 0 0 30px 10px rgb(57, 90, 219);
    margin-bottom: 10%;
}

#cover {
    text-align: center;
    margin-bottom: 50%;
}

#cover .cover-text p {
    font-family: 'SimpleNote', sans-serif;
    font-size: 2em;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

#cover h1 {
    font-family: 'Sparkling Horizon', sans-serif;
    font-size: 8em;
    font-weight: bold;
    color: #004aad;
    text-align: center;
    margin-bottom: 10px;
}

#countdown {
    background-color: #3d57ff;
    align-items: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 10%;
}

.countdown-section {
    width: 50%;
    background-color: #72cbff;
    border-radius: 20px;
    z-index: 1;
    margin-bottom: 10px;
    padding-bottom: 5%;
    padding-top: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 50px 1px #ffffff;
    outline: 20px solid #1a58cf;
}

#secondpart {
    width: 50%;
    background-color: #72cbff;
    border-radius: 20px;
    z-index: 1;
    margin-bottom: 10px;
    padding-bottom: 5%;
    padding-top: 3%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 50px 1px #ffffff;
    outline: 20px solid #1a58cf;
    margin-top: 8%;
}

.Caja {
    background-color: #009cf7;
    border-radius: 20px;
    text-align: center;
    margin: 10px 0;
    width: 50%;
    z-index: 4;

}

.Botonformulario {
    background-color: #009cf7;
    border-radius: 20px;
    text-align: center;
    margin: 10px 0;
    z-index: 4;
}

.Botonformulario a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3d57ff;
    border-radius: 40px;
    color: #e5f6ff;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

.Caja a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #3d57ff;
    border-radius: 40px;
    color: #e5f6ff;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.Caja a:hover {
    box-shadow: 0 0 10px 10px rgb(255, 255, 255);
}

.Botonformulario a:hover {
    box-shadow: 0 0 10px 10px rgb(255, 255, 255);
}

#invitation {
    text-align: center;
}

#llevar {
    margin-top: 10%;
    text-align: center;
}

#llevar h3 {
    font-family: 'Cursiva';
    font-weight: 500;
    font-size: 2.5em;
}

#invitation h2 {
    font-family: 'Cursiva';
    font-weight: 500;
    font-size: 2.5em;
}


.letra {
    text-align: center;
    margin-bottom: 20px;
    margin: 0%;
}

.letra h3 {
    font-family: 'Cursiva';
    font-weight: 500;
    font-size: 2.5em;
}

.letra h4 {
    margin: 0%;
}

h3 {
    padding: 0%;
    margin: 0px;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 768px) {

    .white-background {
        width: 90%;
        border: 7px solid #1a59cf00;
        box-shadow: 0 0 0px 0px rgba(57, 89, 219, 0);
        background-color: rgb(255, 255, 255, 0);
    }

    .white-background1 {
        width: 90%;
        border: 7px solid #0b00e2
    }

    .countdown-section {
        width: 100%;
        margin-bottom: 10%;
        outline: 7px solid #1a58cf;
        box-shadow: 0 0 85px 5px #a9f1ff;
    }

    #secondpart {
        width: 100%;
        outline: 7px solid #1a58cf;
        box-shadow: 0 0 65px 2px #0b00e2;
    }

    #countdown {
        background-color: #00000000;
        padding: 0%;
    }


    #cover h1 {
        font-size: 3em;
    }

    #cover p {
        font-size: 1.5em;
    }

    .Caja a {
        font-size: 0.9em;
        padding: 8px 16px;
    }

    #invitation h2 {
        font-size: 2em;
    }

    #invitation p {
        font-size: 0.65em;
    }

    #llevar h3 {
        font-size: 1.8em;
    }

    #llevar h2 {
        font-size: 0.9em;
    }

    #llevar p {
        font-size: 1em;
    }

    .letra h3 {
        font-size: 1.8em;
    }
}